# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos específicos do Android
android/.gradle
android/build/
android/app/build/
android/capacitor-cordova-android-plugins/build/
android/app/release/
android/local.properties
android/app/src/main/assets/public/
android/capacitor-cordova-android-plugins/src/main/assets/
android/.idea/
android/*.iml
android/gradlew.bat
android/.project
android/.settings/

# Outros arquivos específicos do Capacitor
ios/App/App/public/
ios/App/build/
ios/App/Pods/
ios/Pods/
ios/App/DerivedData/
ios/.DS_Store
capacitor.config.json
capacitor.config.ts
# Outros
.env.local
.env.development.local
.env.test.local
.env.production.local